{% extends 'base.html.twig' %}

{% block title %}Hello CandidatureController!{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/candidature.css") }}">
{% endblock %}

{% block body %}
    <article id="info-festival">
        <header>
            <h3>{{ festival.getNom() }}</h3>
            <h3>Lieu festival</h3>
        </header>
        <section>
            Description :
            <p>
                {{ festival.getDescription() }}
                <!--Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut consectetur sagittis varius. Vestibulum ante ipsum primis in faucibus orci luctus et
                ultrices posuere cubilia curae; Integer dolor sapien, sodales ut scelerisque non, luctus vitae lorem. Etiam in dui eu nulla consequat faucibus
                malesuada quis eros. Maecenas nec lobortis ipsum. Curabitur porta vitae nisl sed sodales. In hendrerit ut elit vitae consectetur. Maecenas
                ultricies commodo justo, sed mollis magna egestas quis. Donec ultrices ante sapien, ut volutpat orci interdum et. Curabitur tempus elit id
                commodo maximus. Vestibulum nisi quam, volutpat sed vestibulum nec, interdum id nulla.-->
            </p>
        </section>
    </article>

    {{ form_start(formulaire, {'attr' : {'id' : 'formulaire', 'class' : 'Candidature'}}) }}
        <h1>CANDIDATURE</h1>
        <article id="candidature">
            <section id="creneau">
                <h3>Horaire de disponibilité :</h3>
                <section>
                    <fieldset>
                        <label for="start">Horaire de début</label>
                        <input type="datetime-local" id="start" name="trip-start" value="2023-07-22" min="2023-10-04" max="2018-12-31">
                        <label for="end">Horaire de fin</label>
                        <input type="datetime-local" id="end" name="trip-start" value="2023-07-22" min="2023-10-04" max="2018-12-31">
                    </fieldset>
                    <fieldset>
                        <label for="start">Horaire de début</label>
                        <input type="datetime-local" id="start" name="trip-start" value="2023-07-22" min="2023-10-04" max="2018-12-31">
                        <label for="end">Horaire de fin</label>
                        <input type="datetime-local" id="end" name="trip-start" value="2023-07-22" min="2023-10-04" max="2018-12-31">
                    </fieldset>
                    <fieldset>
                        <label for="start">Horaire de début</label>
                        <input type="datetime-local" id="start" name="trip-start" value="2023-07-22" min="2023-10-04" max="2018-12-31">
                        <label for="end">Horaire de fin</label>
                        <input type="datetime-local" id="end" name="trip-start" value="2023-07-22" min="2023-10-04" max="2018-12-31">
                    </fieldset>
                </section>
            </section>
            <section id="poste">
                <aside>
                    <h3>Texte de candidature :</h3>
                    {{ form_widget(formulaire.descCandidature, {'id': "desc", 'attr' : {"placeholder": "Ecrivez quelques phrases pour exposer votre motivation"}}) }}
                </aside>
                <aside>
                    <h3>Preference de poste</h3>
                    {% for pref in formulaire.preferences %}
                        <section class="poste">
                            <label for="{{ pref.vars.value.poste.nom|lower }}">{{ pref.vars.value.poste.nom }}</label>
                            {{ form_widget(pref.nbPreference, {'id': 'e'}) }}
                            <legend>{{ pref.vars.value.poste.description }}</legend>
                        </section>
                    {% endfor %}

                    <!--<section>
                        <label for="poste1">Poste 1</label>
                        <input id="poste1" type="number" min="1" max="3">
                    </section>-->
                </aside>
            </section>
        </article>
    {{ form_widget(formulaire.envoyer, {'id': "submit", 'label' : "Envoyer"}) }}
    {{ form_rest(formulaire) }}
    {{ form_end(formulaire) }}
{% endblock %}
