<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="{{ asset("flaticon.png") }}">
        <link rel="stylesheet" href="{{ asset("css/global.css") }}">
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>

    <body>
        <header>
            <h1>PROJET 4</h1>
            <nav>
                <a href="{{ path("candidature", {idFestival: 1}) }}">Candidater</a>
                <a href="{{ path("demandeFestival") }}">Proposer son festival</a>
                <a href="{{ path("festivalsAttente") }}">Liste des festivals en attente</a>
            </nav>
        </header>

        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            FOOTER<br>
            Projet 4, 3e année de BUT Informatique Option RACDV<br>
            Loïs ODIARDO Yanis MAKLOUFI
        </footer>
    </body>
</html>