{% extends 'base.html.twig' %}

{% block title %}Festival en attente{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/validation.css") }}">
{% endblock %}

{% block body %}
    <h1>FESTIVALS EN ATTENTE</h1>
    <article>
        {% for festival in festivals %}
            <section class="festival">
                <header>
                    <div>
                        <h2 class="title">{{ festival.nom }}</h2>
                        <span class="title">{{ festival.lieu }}</span>
                    </div>
                    <fieldset>
                        <input id="button" class="accepter" data-festival-id="{{ festival.id }}" type="button" value="✔️">
                        <input id="button" class="refuser" data-festival-id="{{ festival.id }}" type="button" value="❌">
                    </fieldset>
                </header>
                <p>
                    {{ festival.description }}
                </p>
                <p>
                    Ouvert du {{ festival.creneau.debut|date("m/d/Y")}} au {{ festival.creneau.fin|date("m/d/Y") }}
                </p>
            </section>
        {% endfor %}
    </article>
    <script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
    <script defer type="text/javascript" src="{{ asset("js/validationFestival.js") }}"></script>
{% endblock %}
